div{ 
	justify-content: center;
	align-items: center;
}
#wrapper {
	justify-content: center;
	align-items: center;
	vertical-align: top;
	margin: 0 auto;
}
body {
	background-image:url('../images/pattern.png');
	background-repeat: repeat;
	background-position: center;
	min-height: 100%;

}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}